<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1>Sign Up Page</h1>

      <form action="">
        <div>
          <span>First name</span>
          <input type="text">
        </div>
        <div>
          <span>Last name</span>
          <input type="text">
        </div>
        <div>
          <span>Email</span>
          <input type="email">
        </div>
        <div>
          <span>Password(8 or more characters)</span>
          <input type="text">
        
        </div>
        <div><button>Sign Up</button></div>
        <div><button>Google</button></div>
      </form>
    
</body>
</html>